<div class="left-top">
  <div class="l-t-name">
     <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="l-t-room">
  <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
 <div class="left-bottom">
 <div class="room">
  <div class="room-name">
   <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
  </div>
  </div>
  </div>
 </div>