.wrapper{
  display: flex;
}
.chat{
  width:calc(100vw - 300px) ;
  background-color: #ffffff;
}
.side-bar{
  width: 300px;
  background-color: #253141;
  height: 100vh;
}
.left-top{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-bottom{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.right-top{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-center{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}
.right-bottom{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px ;
  display: flex;
}
.l-t-name a{
font-size: 16px;
color: #fafafa;
text-decoration: none;
}
.l-t-room a{
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}
.room-name a{
  color: white;
  text-decoration: none;
}
.room{
  padding: 20px 0 40px;
}
.r-t-name{
  font-size: 24px;
  color: #333;
}
.r-t-botan{
  border: 1px solid darkred;
  padding: 20px;
}
.r-t-botan a{
  color: darkred;
  text-decoration: none;
}
.top-box{
  display: flex;
  padding-top: 10px;
}
.t-c-name{
  font-size: 16px;
  color: #434a54;
}
.date{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}
.bottom-box{
  padding-top: 10px;
  margin-bottom: 40px;
}
.r-c-comment{
  font-size: 14px;
  color: #434a54;
}
.message-form{
  height: 50px;
  width: 100%;
  padding-left: 10px;
  background-color: white;
  border: none;
}
.content-form{
  display: flex;
  width: 100%;
  background-color: white;
}
.message-botan{
  height: 50px;
  margin-left: 15px;
  font-size: 16px;
  color: white;
  background-color: #38aef0;
  padding: 0 20px;
  align-items: center;
  border: none;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}